<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Create a Madlib!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Fill in the form for the madlib!</h1>
    <form action="/madlibtwo" method="post">
     <label for="name">Your Name</label>
     <input id="name" name="name" type="text">
     <label for="nameTwo">Friend's Name</label>
     <input id="nameTwo" name="nameTwo" type="text">
     <label for="animal">Type of animal</label>
     <input id="animal" name="animal" type="text">
      <label for="adjective">An Adjective</label>
     <input id="adjective" name="adjective" type="text">
      <label for="exclamation">An Exclamation</label>
     <input id="exclamation" name="exclamation" type="text">
     <button type="submit">Go!</button>
    </form>
  </body>
</html>