<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Create a Madlib!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
   <a href="/form">MadLib One</a>
   <a href="/formtwo">MadLib Two</a>
  </body>
</html>