<!DOCTYPE html>
<html>
    <head>
        <title>MAD LIB</title>
    </head>
    <body>
        <div>
            <p>This is a second story about how @Model.GetAdjective() @Model.GetName() and @Model.GetNameTwo() are together with @Model.GetAnimal()</p> 
            
        </div>
    </body>
</html>